# Immich stack secrets (SOPS-encrypted)
# Shared vars (required by all stacks)
DATA_BASE_PATH=
DOMAIN_NAME=
PUID=
PGID=
TZ=
# Immich database
POSTGRES_DB=immich
POSTGRES_USER=immich
POSTGRES_PASSWORD=
# Subdomain
PHOTOS_SUBDOMAIN=photos
