[Unit]
Description=K8s Runner (k8s-docker)
After=network.target k3s.service fix-forgejo-runner-ips.service
Requires=fix-forgejo-runner-ips.service
[Service]
Type=simple
TimeoutStopSec=10
KillMode=process
KillSignal=SIGKILL
ExecStart=/mnt/pool_HDD_x2/infra/act-runner/bin/forgejo-k8s-runner-final /mnt/pool_HDD_x2/infra/act-runner/data/k8s-docker/config.yaml
Restart=always
RestartSec=5
WorkingDirectory=/mnt/pool_HDD_x2/infra/act-runner/data/k8s-docker
Environment=KUBECONFIG=/etc/rancher/k3s/k3s.yaml
[Install]
WantedBy=multi-user.target
