[Unit]
Description=Fix Forgejo Runner IPs
After=docker.service
Before=act-runner-questhive-k8s.service act-runner-peptide-web-k8s.service act-runner-general-k8s.service act-runner-k8s-docker.service

[Service]
Type=oneshot
ExecStart=/mnt/pool_HDD_x2/infra/scripts/fix-forgejo-runner-ips.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
