[defaults]
inventory = inventory/hosts.yml
roles_path = roles:/home/wyatt/dev/src/github.com/WyattAu/SimpleInfrastructureStack/ansible/roles
retry_files_enabled = false
host_key_checking = False
timeout = 30
callbacks_enabled = profile_tasks
stdout_callback = yaml
