FERRO_SUBDOMAIN=ferro
DATA_BASE_PATH=/mnt/pool_HDD_x2/tank/datasources/sis/appdata
TZ=UTC
POSTGRES_USER=ferro
POSTGRES_PASSWORD=changeme
OIDC_ISSUER=https://auth.wyattau.com/realms/company-realm
OIDC_CLIENT_ID=ferro
OIDC_AUDIENCE=ferro
DOMAIN_NAME=wyattau.com
